.filmDetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-content: start;    
}

.filmImage {
    width: 300px;
    border-radius: 8px;
    align-self: center;
}

.infoRow {
    display: flex;
    flex-flow: row wrap;
}

.spacer {
    width: 100px;
}

.title {
    padding: 10px;
    margin: 10px 10px 0px 10px;
}

.textField {
    padding: 10px;
    margin: 0px 10px;
}

.buttonDiv {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}