.filmDetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;    
}

.infoRow {
    display: flex;
    flex-flow: row wrap;
}

.title {
    padding: 10px;
    margin: 10px 10px 0px 10px;
}

.textField {
    padding: 10px;
    margin: 0px 10px;
}