.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #333;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-div {
    padding: 10px;
    text-align: center;
}

.heart {
    color: #DC1A28;
}